BasedOnStyle: Google
IndentWidth: 4
TabWidth: 4
UseTab: ForIndentation
ColumnLimit: 100

PointerAlignment: Left
ReferenceAlignment: Left

BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: false
AllowShortMacrosOnASingleLine: true
BreakConstructorInitializers: AfterColon
ConstructorInitializerAllOnOneLineOrOnePerLine: true
AllowAllConstructorInitializersOnNextLine: true

SortIncludes: true
IncludeBlocks: Regroup
